html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.l-content {
  width: 100%;
  height: 100%;
}

.l-content .explorer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.l-content .explorer .folder-tree {
  position: absolute;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow: scroll;
  background-color: #f4f2ed;
}

.l-content .explorer .folder-tree ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
}

.l-content .explorer  .folder-tree li {
  white-space: nowrap;
}

.l-content .explorer .page {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  color: white;
  background-color: #333;
}

.l-content .explorer .page p {
  margin-left: 10px;
}

.entry {
  cursor: pointer;
  margin: 10px;
}